
{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'TheliaLibrary'}
{/block}

{block name="page-title"}{intl l='Thelia Library'}{/block}

{block name="check-resource"}admin.content{/block}
{block name="check-access"}view{/block}

{block name="after-admin-css"}
<link rel="stylesheet" href="{stylesheet file='dist/library.css' template="default" source="TheliaLibrary"}">
{/block}

{block name="main-content"}
    <div id="library" class="TheliaLibrary"></div>
{/block}

{block name="javascript-last-call"}
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{javascript file='dist/library.umd.js' template="default" source="TheliaLibrary"}"></script>
<script type="module">
    ReactDOM.render(React.createElement(TheliaLibrary.App), document.getElementById('library'))
</script>

{/block}
